[user]
	name = J. Randall Hunt
	email = randallhunt@gmail.com
[core]
	editor = vim
	whitespace = trailing-space,space-before-tab
[color]
	ui = true
[push]
	default = simple
[alias]
	co = checkout
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed = "!git ls-files -v | grep ^h | cut -c 3-"
	ours = "!f() { git checkout --ours $@ && git add $@; }; f"
	theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
[diff]
	algorithm = patience
