[user]
	name = J. Randall Hunt
	email = randallhunt@gmail.com
[core]
	editor = vim
	whitespace = trailing-space,space-before-tab
[commit]
	template = /Users/ranman/.gitmessage.txt
[color]
	ui = true
[push]
	default = simple
