[user]
	name = J. Randall Hunt
	email = randallhunt@gmail.com
[core]
	editor = vim
	whitespace = fix,trailing-space,space-before-tab,tab-in-indent
	excludesfile = /Users/ranman/.gitignore
	pager = less -F -X
[github]
	user = ranman
[hub]
	http-clone = false
	protocol = https
[rerere]
	enabled = 1
[color]
	ui = true
	interactive = true
[push]
	default = tracking
[branch]
	autosetuprebase = always
[alias]
	co = checkout
	pull = pull --ff-only
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed = "!git ls-files -v | grep ^h | cut -c 3-"
	ours = "!f() { git checkout --ours $@ && git add $@; }; f"
	theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
	st = status --short
	conflicts = !git ls-files -u | cut -f 2 | sort -u
[help]
	autocorrect = 1
[init]
	templatedir = ~/.git_template
[pager]
	stash = cat
